<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viemport" content="width=device-width, initial-scale=1.0">
	<title>Quiz Educacional</title>
	<link rel="stylesheet" href="css/indexLogado.css">
</head>
<body>
	<header class="navbar">
		<div class="logo">Quiz Interativo</div>
		<nav>
		<ul>
		<li><a href="/indexLogado">Início</a></li>
		</ul>
		</nav>
	</header>
<br><br><br><br>

<h1>Bem-vindo ao Quiz Interativo!</h1>

<div class="container">
	<h2>Selecionar opção</h2>
<br>
		<div id="botoes">
		<a href="/disciplinaEcurso"><button class="btn">Iniciar Quiz</button></a>

		<a href="/ranking"><button class="btn">Pontuação </button></a>

		</div>
		</div>