<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/principal.css">
    <title>Quiz Educacional</title>
</head>

<body>

    <header class="navbar">
        <div class="logo-container">
            <img src="./img/LogoEtec.png" alt="Logo etec" class="logo-etec">
            <div class="logo">Quiz Interativo</div>
        </div>

        <nav>
            <a href="/" class="linkT">Início</a>
            <a href="/sobre" class="linkT">Sobre</a>
            <a href="/login" class="login-btn" id="botao">Entrar</a>
        </nav>
    </header>

    <main class="container" id="inicio-secao">
        <img src="./img/Robo.png" alt="Robô Quiz" class="robo-img">
        <h1>Bem-vindo <br>
            ao Quiz Interativo!</h1>
        <p id="SobreTexto">Desafie seus conhecimentos e veja sua evolução a cada partida.</p>
        <p id="Sobre2Texto">
            Antes de jogar, <b id="negrito">crie sua conta</b> no <b>cadastro</b>, caso não tenha uma.
        </p>

        <!-- Botão Login Funcionando -->
        <a href="/login" class="login"><b id="negrito2">Login</b></a>
        

        <!-- Botão Cadastrar -->
        <a href="/cadastro" class="cadastrar"><b id="negrito2">Cadastrar</b></a>
    </main>

</body>

</html>
