<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Ranking Quiz Educacional</title>
<link rel="stylesheet" href="css/ranking.css">
</head>
<body>

    <header class="navbar">
        <div class="logo-container">
          <div class="logo">Quiz Interativo</div>
        </div>
      
        <nav>
          <a href="indexLogado.html" class="linkT">Início</a>
        </nav>
      </header>
      
    

<main>
  <aside class="left-panel" aria-label="Sua posição">
    <h2>sua posição:</h2>
    <div class="position-badge">#6</div>
  
  </aside>

  <section class="right-panel" aria-label="Ranking de usuários">
    <div class="top3-container" aria-label="Top 3 usuários">
      <div class="user-position-top second">
        <div class="rank-badge">2#</div>
        <div class="username">segundo_usuario</div>
        <div class="score">125 pontos</div>
      </div>
      <div class="user-position-top first">
        <div class="rank-badge">1#</div>
        <div class="username">primeiro_usuario</div>
        <div class="score">137 pontos</div>
      </div>
      <div class="user-position-top third">
        <div class="rank-badge">3#</div>
        <div class="username">terceiro_usuario</div>
        <div class="score">124 pontos</div>
      </div>
    </div>

    <div class="ranking-list" aria-label="Lista de usuários">
      <ul>
        <li>
          <div class="left">
            <div class="rank-circle">1</div>
            <div class="username">nome_usuario</div>
          </div>
          <div class="points">128 pontos</div>
        </li>
        <li>
          <div class="left">
            <div class="rank-circle">2</div>
            <div class="username">nome_usuario</div>
          </div>
          <div class="points">128 pontos</div>
        </li>
        <li>
          <div class="left">
            <div class="rank-circle">3</div>
            <div class="username">nome_usuario</div>
          </div>
          <div class="points">128 pontos</div>
        </li>
        <li>
          <div class="left">
            <div class="rank-circle">4</div>
            <div class="username">nome_usuario</div>
          </div>
          <div class="points">128 pontos</div>
        </li>
      </ul>
    </div>
  </section>
</main>

</body>
</html>
