<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="./css/sobre.css">
</head>

<body>

    <header class="navbar">

        <div class="logo"></div>

        <nav>

            <ul>
                <li><a href="index.html" class="ativo">Início</a></li>
                <li><a href="cadastro.html" class="ativo">Cadastro</a></li>
                <li> <a href="login.html" class="ativo">Entrar</a></li>
            </ul>

        </nav>

    </header>
    <main class="container">
        <h1 id="tituloprincipal">Sobre o Quiz Interativo</h1>
        <p>O quiz interativo é um projeto criado por nós, estudantes do curso de Desenvolvimento de sistemas
            da ETEC Albert Einstein, com o obejetivo de revisar e reforçar os conteúdos aprendidos ao loongo do curso de
            forma divertida e prática.
        </p>

        <br>

        <p>A plataforma traz perguntas sobre diversas disciplinas que fazem parte da nossa formação, como:</p>

        <ul>
            <li>Programação e Algoritmos</li>
            <li>Banco de Dados</li>
            <li>Desenvolvimento de Sistemas</li>
            <li>Programação de Aplicativos Mobile</li>
            <li>Programação Web</li>
            <li>Operação de Software Aplicativo</li>
            <li>Análise e Projeto de Sistemas</li>
            <li>Sistemas Embarcados</li>
            <li>Seguranças de Sistemas de Informação</li>
            <li>Internet e Protocolos</li>
            <li>Linguagem, Trabalho e Tecnologia</li>
            <li>Inglês Instrumental</li>
            <li>Design Digital</li>
            <li>Ética e Cidadania Organizacional</li>

        </ul>


        <p>O quiz tem o propósito de estimular o raciocínio lógico, a memorização e o aprendizado contínuo. Cada jogador
            pode criar sua conta, participar dos desafios e acompanhar sua pontuação em um ranking geral</p>
        <p>Esse Projeto foi desenvolvido como uma forma de aplicar, na prática, os conhecimentos adquiridos em sala,
            unindo a programação, o design e a cxriatividade dos alunos.</p>
    </main>

    <footer>

    </footer>
</body>

</html>